$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$primary: $lime;

$theme-colors: (
  "lime": $lime,
  "red": $red,
  "white": $white,
  "slate-100": $slate-100,
  "slate-300": $slate-300,
  "slate-500": $slate-500,
  "slate-700": $slate-700,
  "slate-900": $slate-900,
);
    
$font-plus-jakarta-sans: 'Plus Jakarta Sans';
$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 16px;
$body-font-family: $font-plus-jakarta-sans;
$body-font-weight: 500;
$body-color: $slate-900;
$body-line-height: 1.5;
$body-bg: $slate-100;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);